{% extends "../base.html" %}

{% load static%}

{% load crispy_forms_tags %}

{% block head_scripts %}
    <script src="{% static 'js/inline-form-management.js' %}"></script>
    <script src="{% static 'js/datalist-custom.js' %}"></script>
{% endblock %}


{% block content %}
    <section class="section wb">
        <div class="container">
            <h2>Add new recipe</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.language|as_crispy_field }}
                {{ form.name|as_crispy_field }}
                {{ form.image|as_crispy_field }}
                {{ form.nb_of_people|as_crispy_field }}
                <br>
                <div class="custombox authorbox clearfix">
                    <h4 class="small-title">Ingredients<span class="asteriskField">*</span></h4>
                    <div class="form_set">
                        {{ ingredient_forms.management_form }}
                        {{ ingredient_forms.non_form_errors }}
                        {% for ingredient_form in ingredient_forms %}
                        {{ ingredient_form.id }}
                        <div class="ingredient-container">
                            <a href="javascript:void(0)" class="remove_form" style="display: none;">
                                <i class="fa fa-times-circle-o"></i>
                            </a>
                            {{ ingredient_form.id }}
                            <div class="inline {{ ingredient_form.prefix }} mb-2">
                                        {% crispy ingredient_form %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="empty_form" style="display:none">
                            <div class="ingredient-container">
                                <a href="javascript:void(0)" class="remove_form">
                                    <i class="fa fa-times-circle-o" style="font-size:24px;color:#ab0012"></i>
                                </a>
                                {% crispy ingredient_forms.empty_form %}
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="add_form">
                            <i class="fa fa-plus"> add ingredient</i>
                        </a>
                    </div>
                </div>
                    <br>
                {{ form.content|as_crispy_field }}
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </section>

{% endblock %}
