{% extends "../base.html" %}

{% load static%}

{% block content %}

<section class="section lb">
    <div class="container">
        <div class="text-center">
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" onerror="this.src='{% static 'images/default-image.jpg' %}';" style="height: 600px">
            {% else %}
                <img src="{% get_media_prefix %}default-image.jpg" alt="" class="img-fluid">
            {% endif %}
        </div>
    </div>
</section>

<section class="section">
            <div class="container">
                        <div class="page-wrapper">
                            <div class="blog-title-area">

<!--                                <span class="color-red"><a href="blog-category-01.html" title="">Video Recipes</a></span>-->

                                <h3>{{ recipe.name }}</h3>

                                <div class="blog-meta big-meta">
                                    <small>{{ recipe.date }}</small>
                                    <small><a href="#" title="">by {{ recipe.posted_by }}</a></small>
<!--                                    <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>-->
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="blog-content">
                                <h5>Ingredients</h5>
                                <ul>
                                    {% for ingredient in recipe.ingredientquantity_set.all %}
                                        <li>{{ ingredient.ingredient }}:
                                            {{ ingredient.quantity }}
                                            {% if ingredient.unit %}{{ ingredient.unit }}{% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <hr>
                                <h5>Steps</h5>
                                <p>
                                    {{ recipe.content }}
                                </p>

                            </div><!-- end content -->

                            <div class="blog-title-area">
<!--                                <div class="tag-cloud-single">-->
<!--                                    <span>Tags</span>-->
<!--                                    <small><a href="#" title="">lifestyle</a></small>-->
<!--                                    <small><a href="#" title="">colorful</a></small>-->
<!--                                    <small><a href="#" title="">trending</a></small>-->
<!--                                    <small><a href="#" title="">another tag</a></small>-->
<!--                                </div>&lt;!&ndash; end meta &ndash;&gt;-->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <hr class="invis1"><hr class="invis1">

<!--                            <div class="custombox clearfix">-->
<!--                                <h4 class="small-title">You may also like</h4>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-lg-6">-->
<!--                                        <div class="blog-box">-->
<!--                                            <div class="post-media">-->
<!--                                                <a href="single.html" title="">-->
<!--                                                    <img src="upload/blog_square_10.jpg" alt="" class="img-fluid">-->
<!--                                                    <div class="hovereffect">-->
<!--                                                        <span class=""></span>-->
<!--                                                    </div>&lt;!&ndash; end hover &ndash;&gt;-->
<!--                                                </a>-->
<!--                                            </div>&lt;!&ndash; end media &ndash;&gt;-->
<!--                                            <div class="blog-meta">-->
<!--                                                <h4><a href="single.html" title="">We are guests of ABC Design Studio</a></h4>-->
<!--                                                <small><a href="blog-category-01.html" title="">Trends</a></small>-->
<!--                                                <small><a href="blog-category-01.html" title="">21 July, 2017</a></small>-->
<!--                                            </div>&lt;!&ndash; end meta &ndash;&gt;-->
<!--                                        </div>&lt;!&ndash; end blog-box &ndash;&gt;-->
<!--                                    </div>&lt;!&ndash; end col &ndash;&gt;-->

<!--                                    <div class="col-lg-6">-->
<!--                                        <div class="blog-box">-->
<!--                                            <div class="post-media">-->
<!--                                                <a href="single.html" title="">-->
<!--                                                    <img src="upload/blog_square_11.jpg" alt="" class="img-fluid">-->
<!--                                                    <div class="hovereffect">-->
<!--                                                        <span class=""></span>-->
<!--                                                    </div>&lt;!&ndash; end hover &ndash;&gt;-->
<!--                                                </a>-->
<!--                                            </div>&lt;!&ndash; end media &ndash;&gt;-->
<!--                                            <div class="blog-meta">-->
<!--                                                <h4><a href="single.html" title="">Nostalgia at work with family</a></h4>-->
<!--                                                <small><a href="blog-category-01.html" title="">News</a></small>-->
<!--                                                <small><a href="blog-category-01.html" title="">20 July, 2017</a></small>-->
<!--                                            </div>&lt;!&ndash; end meta &ndash;&gt;-->
<!--                                        </div>&lt;!&ndash; end blog-box &ndash;&gt;-->
<!--                                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                                </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; end custom-box &ndash;&gt;-->

<!--                            <hr class="invis1">-->

<!--                            <div class="custombox clearfix">-->
<!--                                <h4 class="small-title">3 Comments</h4>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-lg-12">-->
<!--                                        <div class="comments-list">-->
<!--                                            <div class="media">-->
<!--                                                <a class="media-left" href="#">-->
<!--                                                    <img src="upload/author.jpg" alt="" class="rounded-circle">-->
<!--                                                </a>-->
<!--                                                <div class="media-body">-->
<!--                                                    <h4 class="media-heading user_name">Amanda Martines <small>5 days ago</small></h4>-->
<!--                                                    <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean.</p>-->
<!--                                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="media">-->
<!--                                                <a class="media-left" href="#">-->
<!--                                                    <img src="upload/author_01.jpg" alt="" class="rounded-circle">-->
<!--                                                </a>-->
<!--                                                <div class="media-body">-->

<!--                                                    <h4 class="media-heading user_name">Baltej Singh <small>5 days ago</small></h4>-->

<!--                                                    <p>Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko tempor duis single-origin coffee. Banksy, elit small.</p>-->

<!--                                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="media last-child">-->
<!--                                                <a class="media-left" href="#">-->
<!--                                                    <img src="upload/author_02.jpg" alt="" class="rounded-circle">-->
<!--                                                </a>-->
<!--                                                <div class="media-body">-->

<!--                                                    <h4 class="media-heading user_name">Marie Johnson <small>5 days ago</small></h4>-->
<!--                                                    <p>Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko tempor duis single-origin coffee. Banksy, elit small.</p>-->

<!--                                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; end col &ndash;&gt;-->
<!--                                </div>&lt;!&ndash; end row &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; end custom-box &ndash;&gt;-->

<!--                            <hr class="invis1">-->

<!--                            <div class="custombox clearfix">-->
<!--                                <h4 class="small-title">Leave a Reply</h4>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-lg-12">-->
<!--                                        <form class="form-wrapper">-->
<!--                                            <input type="text" class="form-control" placeholder="Your name">-->
<!--                                            <input type="text" class="form-control" placeholder="Email address">-->
<!--                                            <input type="text" class="form-control" placeholder="Website">-->
<!--                                            <textarea class="form-control" placeholder="Your comment"></textarea>-->
<!--                                            <button type="submit" class="btn btn-primary">Submit Comment</button>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div><!-- end page-wrapper -->
            </div><!-- end container -->
        </section>

{% endblock %}