{% extends "../base.html" %}

{% block content %}
    <section class="section wb">
        <div class="container">
            <h2>Recipes</h2>
            {% for recipe in object_list %}
                {% if forloop.counter0|divisibleby:4 %}<div class="row grid-style">{% endif %}
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="#">
                                    {% if recipe.thumbnail %}
                                        <img src="{{ recipe.thumbnail.url }}" width="800" height="800" alt="" class="img-fluid">
                                    {% else %}<img src="" width="800" height="800" alt="" class="img-fluid">
                                    {% endif %}
                                    <div class="hovereffect"></div>
                                </a>
                            </div>
                            <div class="blog-meta big-meta">
                                <h4><a href="#">{{ recipe.name }}</a></h4>
                                <small><a href="#" title="">{{ recipe.date }}</a></small>
                                <small><a href="#" title="">by {{ recipe.posted_by }}</a></small>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:4 %}</div>{% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}